.cont{
    height: 150px;
    width: 360px;
   border-radius: 16px;
   border: 2px solid #ddd;
   margin-left: 23px; 
   margin-top: 20px;
}
.part1 span{
    font-size: 15px;
    font-weight: bold;
}
.part2 span{
    font-size: 15px;
}
.part3 span{
    font-size: 15px;
}